* {
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}
body {
	background: #ECF0F1;
	display: table;
	width: 100%;
	.auto {
		font-size: 5rem;
		font-family: "微软雅黑";
		font-weight: bold;
		text-align: center;
		display: table-cell;
		color:#2C3E50;
		vertical-align: middle;
		overflow-x: hidden;
	}
}
